@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root{
    --primary-color: black;
    --secondary-color: white;
    --accent-color: #42c449;
    --light-color: rgb(240, 240, 240);
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x:hidden ;
}

.button1{
    background-color: var(--accent-color);
    padding: 10px 20px;
    border-radius: 2px;
    transition: .1s ease-out;
}
.button1:hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color);
}
.button2{
    /* background-color: white; */
    padding: 10px 20px;
    border-radius: 2px;
    border: 2px solid var(--accent-color);
    transition: .1s ease-out;
}
.button2:hover{
    background-color: var(--accent-color);
}


/* Navbar */
.header-bg{
    background-color: var(--primary-color);
    color: var(--secondary-color);
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10%;
    
}
.logo img{
    width: 150px;
}
nav ul{
    display: flex;
    list-style: none;
    font-family: Lexend, sans-serif;
}
nav ul li{
    margin: 0;
    padding: 0 10px;
    cursor: default;
}
nav ul li:hover{
    color: var(--accent-color);
}
nav img{
    filter: invert(1);
}
nav img:hover{
    scale: 1.1;
    filter:sepia(1);
}
.search img{
    width: 20px;
}
.user img{
    width: 23px;
}

/* HERO SECTION */
.hero{
    height: 650px;
    overflow: hidden;
}
.hero-text{
    color: var(--secondary-color);
    position: absolute;
    top: 20%;
    left: 10%;
    width: 100%;
}
.hero-text h1{
    font-family: 'Titillium Web', sans-serif;
    font-size: 3rem;
    margin: 0;
    padding: 0;
}
.hero-text h2{
    font-family: 'Titillium Web', sans-serif;
    font-size: 2rem;
    margin: 0;
    padding: 0;
}
.hero-text p{
    width: 35%;
    font-family: 'Lexend', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 80px;
    padding: 0;
}
.hero-text a{
    color: var(--secondary-color);
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    transition: .2s ease-out;
}
.hero-text a:hover{
    color: var(--accent-color);
}
.hero-gradient{
    position: absolute;
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(0,0,0,1) 27%, rgba(255,255,255,0) 65%);
    width: 100%;
    height: 650px;
}


/* Product section */
.products{
    margin: 40px 0 ;
}
.m-cards{
    margin: 0 10%;
    display: flex;
    justify-content: space-between;
}
.cards{
    margin: 10px;
    width: 480px;
    height: 350px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgb(202, 202, 202);
    transition: .1s ease-out;
}
.cards:hover{
    box-shadow: 0px 0px 15px rgb(184, 184, 184);
}
.card-id{
    background-color: white;
    height:350px;
    border-radius: 8px;
}
.card-text{
    position: relative;
    color: var(--primary-color);
    top: -120px;
    left: 20px;
}

/* News Section  */
.news{
    background-color: var(--light-color);
}
.news-content{
    /* background-color: blanchedalmond; */
    margin: 0 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.news-content h3{
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.8rem;
    border-bottom: 2px solid var(--primary-color);
}
.news-content h1{
    font-family: 'Lexend', sans-serif;
    font-size: 2.5rem;
}
.news-content p{
    margin:0;
    font-family:sans-serif;
    font-size: 1.2rem;
    width: 70%;
}
.links{
    margin-top: 50px;
    margin-bottom: 20px;
}
.links a{
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Lexend', sans-serif;
    font-size: 1.2rem;
    margin: 0 0px;
    transition: .1s ease-out;
}
.links a:hover{
    border-bottom: 3px solid var(--accent-color);
}
.active{
    display: flex;
    gap: 8px;
    margin-bottom: 20px;
}
.loading{
    background-color: var(--accent-color);
    width: 7px;
    height: 7px;
    border-radius: 50%;
    border: 2px solid rgb(16, 148, 75);
}
.loading:hover{
    background-color: var(--secondary-color);
    border: 2px solid var(--accent-color);
}
#see-all{
    color: var(--accent-color);
    text-decoration: none;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1rem;
    margin: 0 0px;
    padding-bottom: 20px;
    transition: .1s ease-out;
}
#see-all:hover{
    color: var(--primary-color);
}